@tailwind base;
@tailwind components;
@tailwind utilities;

/* homepage buttons */
.summary-by-senators {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.summary-by-senators:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.summary-by-senators h2 {
  font-size: 20px;
  margin-bottom: 8px;
}
.summary-by-senators a {
  text-decoration: none;
}

.summary-by-tickers {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.summary-by-tickers:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.summary-by-tickers h2 {
  font-size: 20px;
  margin-bottom: 8px;
}
.summary-by-tickers a {
  text-decoration: none;
}

.summary-by-days {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.summary-by-days:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.summary-by-days h2 {
  font-size: 20px;
  margin-bottom: 8px;
}
.summary-by-days a {
  text-decoration: none;
}

/* CSS for senator-preview page */
.senator-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.senator-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.senator-preview h2 {
  font-size: 20px;
  margin-bottom: 8px;
}

/* CSS for ticker-preview page */
.ticker-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.ticker-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.ticker-preview h2 {
  font-size: 20px;
  margin-bottom: 8px;
}
.ticker-preview a {
  text-decoration: none;
}

/* CSS for days-preview page */
.days-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.days-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.days-preview h2 {
  font-size: 20px;
  margin-bottom: 8px;
}
.days-preview a {
  text-decoration: none;
}

/* contact-us new blog form */
.contact-us {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.contact-us label {
  text-align: left;
  display: block;
}

.contact-us input, .contact-us textarea, .contact-us select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
