@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* homepage buttons */
.summary-by-senators {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.summary-by-senators:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.summary-by-senators h2 {
  font-size: 20px;
  margin-bottom: 8px;
}
.summary-by-senators a{
  text-decoration: none;
}

.summary-by-tickers {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.summary-by-tickers:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.summary-by-tickers h2 {
  font-size: 20px;
  margin-bottom: 8px;
}
.summary-by-tickers a{
  text-decoration: none;
}

.summary-by-days {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.summary-by-days:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.summary-by-days h2 {
  font-size: 20px;
  margin-bottom: 8px;
}
.summary-by-days a{
  text-decoration: none;
}


.senator-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.senator-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.senator-preview h2 {
  font-size: 20px;
  margin-bottom: 8px;
}
.senator-preview a{
  text-decoration: none;
}

/* contact-us new blog form */
.contact-us {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.contact-us label {
  text-align: left;
  display: block;
}
.contact-us h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.contact-us input, .contact-us textarea, .contact-us select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.contact-us button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}